In [15]:
import pandas
import configparser
import psycopg2

In [16]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['myaws']['host']
db = config['myaws']['db']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [17]:
conn = psycopg2.connect(host = host,
                        user = user,
                        password = pwd,
                        dbname = db)

In [18]:
sql = """ select avg(price), built_in from house_price_full group by built_in  """

In [19]:
df = pandas.read_sql_query(sql, conn)
df[:10]

/tmp/ipykernel_7152/647199877.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pandas.read_sql_query(sql, conn)

            avg  built_in
0  2.240000e+05    1959.0
1  4.299000e+05    1907.0
2  1.549000e+05    1964.0
3  2.744500e+05    1969.0
4  2.226861e+05       NaN
5  3.200000e+06    1845.0
6  3.490000e+05    1800.0
7  4.462200e+05    1991.0
8  1.150000e+05    1989.0
9  2.442000e+05    1974.0